.navbar-admin{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
.navbar-admin .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.navbar-admin .wrapper .search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
}
.navbar-admin .wrapper .search input{
    border: none;
    outline: none;
}
.navbar-admin .wrapper .search input::placeholder{
   font-size: 12px;
}
.navbar-admin .wrapper .items{
    display: flex;
    align-items: center;
}
.navbar-admin .wrapper .items .item{
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.navbar-admin .wrapper .items .item .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar-admin .wrapper .items .item .counter{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}
.navbar-admin .wrapper .items .item .icon{
    font-size: 20px;
    cursor: pointer;
}
.icon.sun{
    animation: rotation infinite 5s linear;
   }
   @keyframes rotation {
       from{
           transform: rotate(0);
       }
       to{
           transform: rotate(360deg);
       }
   }