.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.not-found h1 {
  font-size: 300px;
}

@media (max-width: 768px) {
  .not-found h1 {
    font-size: 200px;
  }
}

.not-found a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
