.dashboard {
  display: flex;
}
.dashboard .homeContainer {
  flex: 6;
}
.dashboard .homeContainer .widgets,
.dashboard .homeContainer .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.dashboard .homeContainer .charts {
  padding: 5px 20px;
}
.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.listContainer .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
.table .cellWrapper {
  display: flex;
  align-items: center;
}
.table .image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.status {
  padding: 5px;
  border-radius: 5px;
}
.status.Approved {
  color: green;
  background-color: rgba(0, 128, 0, 0.151);
}
.status.Pending {
  color: goldenrod;
  background-color: rgba(189, 189, 3, 0.103);
}
