.home {
  background-color: var(--background-color);
}

.carousel img {
  height: 600px;
}
.nav-link {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.nav-link:hover {
  color: var(--hover-color);
}
.badge {
  position: absolute;
  top: 25px;
  margin-left: 16px;
  border-radius: 50%;
  font-size: 10px;
}
