.error {
  width: 300px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #ef665b;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0px 0px 5px -3px #111;
}
.error .error-icon {
  margin-right: 20px;
  color: #fff;
}
.filter .row {
  justify-content: flex-end;
}
.added-popup {
  position: fixed;
  border-radius: 30px;
  background-color: rgb(143, 219, 143);
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  z-index: 999;
}
.added-popup svg {
  margin-right: 10px;
}
.added-popup p {
  margin: 0;
}

@media (max-width: 768px) {
  .filter input[type="number"],
  .filter label {
    display: none;
  }
}
.in-stock {
  color: green;
  font-weight: 500;
}
.med-stock {
  color: orange;
  font-weight: 500;
}
.out-stock {
  color: red;
  font-weight: 500;
}
