.error {
  width: 200px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #ef665b;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}
.error .error-icon {
  margin-right: 20px;
  color: #fff;
}
