.category {
  width: 375px;
  padding: 20px;
  box-shadow: #a7a5a5 10px 13px 15px 10px;
  transition: 1s all;
  margin-bottom: 20px;
}
.category:hover {
  scale: 1.1;
  border-radius: 10px;
}

.category .card-title {
  height: 45px;
  text-decoration: none;
  cursor: pointer;
}
.category .card-title a {
  text-decoration: none;
  color: var(--bs-body-color);
}
.category .card-title a:hover {
  color: var(--hover-color);
}

@media (max-width: 991px) {
  .category {
    width: 330px;
  }
  .category:hover {
    scale: 1.1;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}
